body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

ul {
  list-style: none;
}

.contain {
  display: grid;
  grid-template-areas:
    "box1 box1 box2 box3"
    "nav nav nav nav";
}

.logo {
  grid-area: box1;
}
input {
  padding: 0 8px;
  border-radius: 5px;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.top-header {
  background-color: #1a202c;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.header__content {
  width: 1200px;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  margin-bottom: 10px;
  column-gap: 50px;
}

.menu-actions ul {
  display: flex;
  justify-content: space-between;
  color: white;
  padding-left: 0px;
}

.menu-actions ul li {
  margin: 0 8px;
}

.menu-actions i {
  margin-right: 8px;
}

.searchbar {
  width: 500px;
  height: 50px;
  align-self: center;
}

header nav {
  width: 100%;
  display: flex;
  background-color: #2d3748;
  justify-content: center;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: white;
  max-width: 1200px;
  padding-left: 0px;
}

main {
  width: 100%;
  height: 100%;
}

main section {
  display: flex;
  justify-content: center;
  width: 100%;
}

.home-banner {
  display: flex;
  align-items: flex-end;
  background-image: url("../img/Background.jpg");
  background-position: 50% 35%;
  width: 100%;
  height: 400px;
  flex-direction: column;
  align-items: center;
}

.home-banner-button {
  display: flex;
  flex-direction: row;
  margin-bottom: -50px;
  margin-top: 30px;
}

button {
  height: 50px;
  width: 200px;
  margin: 20px;
  margin-bottom: 0px;
  background-color: #48bb78;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}
.buynow {
  height: 50px;
  width: 120px;
  margin: 20px;
  margin-bottom: 0px;
  position: absolute;
  top: 1px;
  right: 1px;
  background-color: #48bb78;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}

h1 {
  color: #48bb78;
  top: 50px;
  left: 300px;
  font-size: 4rem;
  margin: 0;
}
main .home-banner h2 {
  color: white;
  font-size: 2rem;
}

.banner-img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.sell-game-banner {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 1120px;
  height: 400px;
  margin: 0 auto 0 auto;
  color: white;
  font-weight: bold;
  justify-content: flex-start;
  margin-top: 70px;
  margin-bottom: 70px;
  animation-name: slider;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}

@keyframes slider {
  0% {
    background-image: url(../img/pexels-cottonbro-4842564.png);
  }
  33% {
    background-image: url(../img/Trondado);
  }
  66% {
    background-image: url(../img/Tronado2);
  }
  100% {
    background-image: url(../img/pexels-cottonbro-4842564.png);
  }
}

.sell-game-banner h2 {
  margin-left: 60px;
  margin-top: 40px;
}
.sell-game-button {
  height: 50px;
  width: 300px;
  margin: 20px;
  background-color: #48bb78;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  position: absolute;
  top: 100px;
  left: 40px;
}

.genere-h2 {
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
}

.game-menu {
  display: flex;
  background-color: white;
  width: 1200px;
  height: 300px;
  color: #48bb78;
  justify-content: space-evenly;
  text-align: center;
  margin: 0 auto 0 auto;
}

.game-menu div {
  width: 200px;
  height: 200px;
  border: 2px solid #1a202c;
  background-color: #1a202c;
  border-radius: 180px;
  font-size: 20px;
  font-weight: bold;
}

.product-background {
  background-color: #ebebeb;
  width: 100%;
  height: 600px;
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
    "product-h2 product-h2 product-h2 product-h2 product-h2"
    "box1 box2 box3 box4 box5"
    "box6 box7 box8 box9 box10";
}

.card1 {
  width: 255px;
  height: 360px;
  background-color: red;
  border: solid 2px black;
  grid-area: box1;
  background-image: url(../img/Trondado);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.card2 {
  width: 255px;
  height: 360px;
  background-color: red;
  border: solid 2px black;
  grid-area: box2;
  background-image: url("https://upload.wikimedia.org/wikipedia/en/a/a9/Wrath_of_the_Lich_King.jpg");
}

.card3 {
  display: flex;
  width: 255px;
  height: 360px;
  background-color: red;
  border: solid 2px black;
  grid-area: box3;
  background-image: url(../img/Tronado2);
  background-position: 40% 50%;
  background-repeat: no-repeat;
}

.card4 {
  width: 255px;
  height: 360px;
  background-color: red;
  border: solid 2px black;
  grid-area: box4;
  background-image: url("https://upload.wikimedia.org/wikipedia/en/a/a9/Wrath_of_the_Lich_King.jpg");
}

.card5 {
  width: 255px;
  height: 360px;
  background-color: red;
  border: solid 2px black;
  grid-area: box5;
  background-image: url(../img/Trondado);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.price1 {
  width: 260px;
  height: 100px;
  grid-area: box6;
  background-color: #1a202c;
  position: relative;
  color: white;
  font-size: 40px;
  display: flex;
  align-items: center;
}
.price2 {
  width: 260px;
  height: 100px;
  grid-area: box7;
  background-color: #1a202c;
  position: relative;
  color: white;
  font-size: 40px;
  display: flex;
  align-items: center;
}
.price3 {
  width: 260px;
  height: 100px;
  grid-area: box8;
  background-color: #1a202c;
  position: relative;
  color: white;
  font-size: 40px;
  display: flex;
  align-items: center;
}
.price4 {
  width: 260px;
  height: 100px;
  grid-area: box9;
  background-color: #1a202c;
  position: relative;
  color: white;
  font-size: 40px;
  display: flex;
  align-items: center;
}
.price5 {
  width: 260px;
  height: 100px;
  grid-area: box10;
  background-color: #1a202c;
  position: relative;
  color: white;
  font-size: 40px;
  display: flex;
  align-items: center;
}

.product-h2 {
  text-align: center;
  display: inline-block;
  grid-area: product-h2;
}

/* .product div {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 20px;
} */

.user-review-h2 {
  text-align: center;
}

.reviews {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  column-gap: 100px;
  background-color: white;
  width: 100%;
  height: 600px;
  font-size: 20px;
}

.review2 {
  grid-row: 1 / 3;
  grid-column: 2;
}

.review1 {
  margin-left: 350px;
}
.review3 {
  margin-left: 350px;
}

.quote-author {
  font-style: italic;
}

footer {
  background-color: #1a202c;
  width: 100%;
  height: 680px;
  color: white;
  position: relative;
}

.footer-bottom {
  display: grid;
  width: 70%;
  height: 300px;
  grid-template-areas: "box1 box2 box3 box4";
  bottom: 50px;
  grid-gap: 10px;
  font-size: 20px;
  display: flex;
  margin: auto;
  position: absolute;
  left: 275px;
}

.footer-paragraph1 {
  display: flex;
  flex-direction: column;
  grid-area: box1;
  width: 300px;
  justify-content: center;
  padding: auto;
}

.footer-paragraph2 {
  display: flex;
  flex-direction: column;
  grid-area: box2;
  width: 300px;
  justify-content: center;
  padding: auto;
}

.footer-paragraph3 {
  display: flex;
  flex-direction: column;
  grid-area: box3;
  width: 300px;
  justify-content: center;
  padding: auto;
}

.footer-logo {
  display: flex;
  width: 300px;
  grid-area: box4;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: auto;
}

.footer-top {
  height: 350px;
  width: 70%;
  position: absolute;
  left: 275px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.searchbar-footer {
  width: 400px;
  height: 40px;
}

@media (max-width: 1200px) {
  /*desktop*/
}

@media (max-width: 991px) {
  /*tablet*/
  h1 {
    color: pink;
  }
}

@media (max-width: 767px) {
  /*mobile*/
}

.about-container {
  width: 1400px;
  height: 900px;
  display: grid;
  grid-template-areas:
    "box1 box1 box1 box2 box2 box2"
    "box3 box3 box4 box4 box5 box5";
  margin: auto;
  margin-top: 100px;
}

.aboutus {
  grid-area: box1;
}

.ourgoals {
  grid-area: box2;
}

.about-oslo {
  width: 466.66px;
  height: 500px;
  grid-area: box3;
}

.about-banjul {
  width: 466.66px;
  height: 500px;
  grid-area: box4;
}

.about-amsterdam {
  width: 466.66px;
  height: 500px;
  grid-area: box5;
}

.aboutus-title {
  font-size: 20px;
  font-weight: bold;
}

.aboutus-paragraph {
  font-size: 16px;
}

h3 {
  font-size: 30px;
}
